body {
  margin: 0;
  padding: 0;
  font-family: 'Scope One', serif;
  background-image: url("./assets/stadium-918830_1920.jpg");
  /* background-image: url("./assets/soccer-1859046_1920.jpg"); */
}

/* MultiPage Styling */

.radio {
  color: #AAAAAA;
  display: block;
  margin: 2px 9px 0px 0px;
}

.label {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  display: inline-flex;
}

.input {
  font-size: 2rem;
  max-width: 158px;
  margin-left: 81px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}

/* Header Component */

.header {
  text-align: center;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

/* Players Component */

.validation {
  display: block;
  text-align: center;
  font-size: 0.75rem;
  margin: 0px 21% 0px 21%;
}

.player-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1068px) {
  .player-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
  }
}

@media only screen and (max-width: 683px) {
  .player-grid {
    grid-template-columns: 1fr;
    column-gap: 2em;
    row-gap: 2em;
  }
}

.players {
  width: 20rem;
  text-align: center;
  background: hsla(124, 43%, 55%, 0.4);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}

.group {
  margin: 0px 2px 0px 2px;
}

.main {
  margin: 3px;
  font-size: 1em;
}

.error {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
}

/* Player Component */

.player {
  font-size: 2rem;
}

.player-skill {
  color: white;
}

.update {
  display: block;
  margin: 10px 0px 10px 125px;
  width: 4rem;
  font-size: .75em;
}

.solo-buttons {
  width: 4rem;
  font-size: .75em;
  display: inline;
  margin: 6px;
}

/* Teams Component */

.wrapper {
  display: flex;
  justify-content: center;
}

.team-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 25px;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.one {
  background: hsla(349, 100%, 69%, 0.38);
}

.two {
  background: hsla(215, 100%, 39%, 0.38);
}

.team1 {
  grid-area: 1 / 1 / 1 / 5;
}

.team-skill1 {
  grid-area: 2 / 1 / 2 / 5;
}

.team2 {
  grid-area: 1 / 1 / 1 / 5;
}

.team-skill2 {
  grid-area: 2 / 1 / 2 / 5;
}

.team-group {
  font-size: 1.2rem;
}
