body {
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
  background-image: url("./assets/stadium-918830_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* MultiPage Styling */

.radioPad {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border: 2%;
}

.radio-label {
  background-color: hsla(188, 78.4%, 40%, 1);
  padding: 10px 11px 10px 11px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-left: -15px;
}

.input {
  font-size: 2rem;
  max-width: 167px;
  margin-left: 81px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}

.edit {
  background-color: transparent;
  border-style: dashed;
  margin-top: 4px;
}

.radio:checked + .radio-label {
  background: hsla(188, 78.4%, 60%, 1);
}

/* Header Component */

.header {
  text-align: center;
  text-shadow: 4px 4px 2px whitesmoke;
  margin: 30px 0px 6% 0px;
  font-family: 'Alfa Slab One', cursive;
}

/* Players Component */

.validation {
  display: block;
  text-align: center;
  font-size: 0.79rem;
  margin: 0px 30% 0px 30%;
}

.player-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1068px) {
  .player-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
  }
}

@media only screen and (max-width: 683px) {
  .player-grid {
    grid-template-columns: 1fr;
    column-gap: 2em;
    row-gap: 2em;
  }
}

.skill-label {
  margin: 0px 5px 6px 4px;
}

.players {
  width: 20rem;
  text-align: center;
  background: hsla(124, 66%, 72%, 0.4);
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin: 10px 0px 6% 0px;
}

.group {
  margin: 0px 2px 0px 2px;
}

.main {
  margin: 3px;
  font-size: 1em;
  margin-top: -6px;
  padding: 8px 0px 8px 0px;
}

.error {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
}

/* Player Component */

.player {
  font-size: 2rem;
  margin-bottom: 0px;
}

.player-skill {
  color: black;
}

.skill-change {
  display: inline;
}

.update {
  display: block;
  margin: 10px 0px 10px 125px;
  width: 4rem;
  font-size: .75em;
}

.solo-buttons {
  width: 4rem;
  font-size: 01em;
  display: inline;
  padding: 9px;
  margin: -3px 0px 5px 12px;
}

.radio-edit {
  margin: 7px 5px 0px 7px;
}

/* Teams Component */

.wrapper {
  display: flex;
  justify-content: center;
}

.team-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 25px;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

.one {
  background: hsla(349, 100%, 53%, 0.38);
}

.two {
  background: hsla(215, 100%, 39%, 0.38);
}

.team1 {
  grid-area: 1 / 1 / 1 / 5;
  color: brown;
}

.team-skill1 {
  grid-area: 2 / 1 / 2 / 5;
}

.team2 {
  grid-area: 1 / 1 / 1 / 5;
  color: navy;
}

.team-skill2 {
  grid-area: 2 / 1 / 2 / 5;
}

span {
  color: white;
}

.team-group {
  font-size: 1.2rem;
}
